/* Version SVN: $Id: print.css 426 2011-03-24 13:19:50Z ssoares $*/
body {
    background: white;
    font-size: 12pt;
}

#topBanner,
#topMenu,
#topInfo,
#superGreyLine,
#footer,
div#action_panel,
li#backToMember,
form dl fieldset#fieldset-actions{
    display: none;
}
input{
    border:none;
}
textarea{
    border: none;
}

hr{display: none;}
#Section2, div#Section4M{page-break-after: always}
.pageBreak{
    page-break-after: always
}
@page { size:portrait;
        margin-top:1cm;
        margin-bottom:0.5cm;
        margin-left:0.5cm;
        margin-right:0.5cm
}