@page {
    width: 680px;
}
table { border-collapse:collapse; border-spacing:0; empty-cells:show; width: 100% }
td, th { vertical-align:top; font-size:15px;}
h1, h2, h3, h4, h5, h6 { clear:both }
ol, ul { margin:0; padding:0;}
li { list-style: none; margin:0; padding:0;}
/*li span.odfLiEnd - IE 7 issue*/
/*li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }*/
span.footnodeNumber { padding-right:1em; }
span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
* {
    font-family:Times New Roman;
    font-size:14px;
    margin:0;
    writing-mode:lr-tb;
}
#page {
    margin: 0 auto;
    width: 640px;
}
p {line-height: 1.8em;}
.gr1 {  padding-top:0.229cm; padding-bottom:0.229cm; padding-left:0.441cm; padding-right:0.441cm; margin-left:0.319cm; margin-right:0.319cm; vertical-align:top; }
.P1 {writing-mode:lr-tb;}
.P10 { margin-left:0.953cm; margin-right:0cm;text-indent:0cm; padding-left:0.141cm; padding-right:0.141cm; }
.P11 {margin-left:0.318cm; margin-right:0cm; text-align:justify ! important; text-indent:0.635cm; font-style:italic; }
.P12 {padding-left:0.141cm; padding-right:0.141cm; }
.P13 {padding-left:0.141cm; padding-right:0.141cm; }
.P14 {text-align:justify ! important; padding-left:0.141cm; padding-right:0.141cm; }
.P15 {padding-left:0.141cm; padding-right:0.141cm;  }
.P16 {line-height:150%; padding-left:0.141cm; padding-right:0.141cm;  }
.P17 {line-height:200%; padding-left:0.141cm; padding-right:0.141cm; }
.P18 {margin-left:0.751cm; margin-right:0cm; text-indent:-0.751cm; padding-left:0.141cm; padding-right:0.141cm; }
.P19 { font-size:20pt; font-weight:bold; text-align:left ! important;  margin-left:0.953cm; margin-right:0cm; text-indent:0cm; }
.P2 { line-height:25px;width: 55%; float:right;clear:right; text-align: center; padding-top: 30px;}
.P20 {}
.P3 {margin-left:0.953cm; margin-right:0cm; text-indent:0cm; font-weight:bold; }
.P4 { font-size:6pt;  margin-left:0.953cm; margin-right:0cm; text-align:justify ! important; text-indent:0cm; }
.P5 {margin-left:0.953cm; margin-right:0cm;text-indent:0cm; }
.P6 { font-size:6pt;  margin-left:0.953cm; margin-right:0cm;text-indent:0cm; padding-left:0.141cm; padding-right:0.141cm;  }
.P7 {}
.P8 { }
.P9 { }
.Sect1 {margin: 10px auto; text-align: center;width: 100%}
.T1 { font-size:16pt; }
.T2 { font-size:14px; }
.T10 { text-decoration:underline; }
.T13 { font-weight:bold; }
.T14 { font-size: 10px; letter-spacing: 2px; }
.T18 { font-style:italic; font-weight:bold; }
.T4 { font-size:16px; font-weight:bold;}
.capital{
    text-transform: uppercase;
}
.memberInfos{
    margin-top: 0px;
    padding: 5px;
}
.colLeft {
    display: inline-block;
    width: 70%;
}
.colRight {
    display: inline-block;
    vertical-align: top;
    width: 28%;
}
.sectionTitle{
    float: left;
    width: 30%;
}
.sectionList{
    float: left;
    line-height: 1em;
    margin-left: 15px;
/*    padding-top: 8px;*/
    width: 50%;
}
.respList{
    line-height: 1em;
}
.Sect1 .colLeft{
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: left;
    width: 46%;
    min-height: 235px;
}
.Sect1 .colRight{
    margin: 0 auto 0 35px;;
    padding-bottom: 5px;
    text-align: left;
    width: 46%;
    min-height: 225px;
}
#Section1M.Sect1 .colLeft{min-height: 100px;}
.garde,
.passport{
    margin: 10px auto;
    width: 100%;
}
.Sect2 .passport .colLeft{
    width: 45%;
    display: inline-block;
}
.Sect2 .passport .colRight{
    display: inline-block;
    width: 50%
}
.medical .printLogo{
    float: left;
}
.medical .P2{
    clear: none;
    float: left;
    width: 200px;
}
.photo{
    background: transparent url('../images/zonePhoto.png') no-repeat;
    float: left;
    height: 133px;
    line-height: 133px;
    margin-bottom: 15px;
    text-align: center;
    width: 129px;
}
.medical .Sect1{
    clear: both;
}
.medical .Sect1 .colRight{
    min-height: 70px;
    padding-top: 56px;
}
.medical .modelDate{
    padding-left: 152px;

}
.medical .Sect2{
    margin: 10px auto;
}

.Sect1 .colLeft,
.Sect1 .colRight,
.garde,
.passport,
.medical .Sect2,
.memberInfos{
    border: 3px solid #000;
}
.requiredDocs{
    font-weight: bold;
    margin: 25px 0;
}
.signature{
    margin-top: 25px;
}
.requiredDocs li{
    padding-left: 15px;
    list-style: none;
    font-size: 16px;
    background: transparent url('../images/treeview-open.gif') no-repeat left 50%;
}
.checkboxPrint{
    width: 18px;
}
#Section6M .colRight{
    padding-top: 0;
}
#Section7M table  {
table-layout:fixed;
width:634px;
}
#Section7M table td.tdLeft{
    width: 65%;
}
#Section7M table td.tdRight{
    width: 35%;

}