/* Version SVN: $Id: print.css 426 2011-03-24 13:19:50Z ssoares $*/
ul, li{
    padding: 0;
    margin: 0;
}
.fieldsConnected,
.tablesConnected{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    float: left;
    list-style: none;
    margin: 0 15px;
    min-height: 130px;
    min-width: 200px;
    padding: 5px;
}
.tableItem{
    line-height: 20px;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}
.fieldsConnected{
    margin: 0;
    width: 150px;
}
#tablesSrc{
    margin: 0;
    width: 50%;
}

#tablesSrc .tableItem{
    background-color: #F4F4F4;
    border: 1px solid #EAE9E5;
}
#tablesSrc .placeholder{
    background-color: #CAF4F7;
    border: 2px dashed #5FBCC9;
    height: 20px;
    opacity: 0.2;
    filter : alpha(opacity=20);
}
.moduleItem{
    display: inline-block;
    width: 215px;
    vertical-align: top;
}
#tablesSelec{
    margin-right: 0;
    width: 440px;
}
#tablesSelec .tableItem{
    background-color: #FFE45C;
    border: 1px solid #FED22F;
}

#tablesSelec .placeholder{
    background-color: #FFE45C;
    border: 2px dashed #ffb900;
    height: 20px;
    opacity: 0.4;
    filter : alpha(opacity=40);
}
#tablesSelec .moduleItem{
    width: 95%;
}
#tablesSelec .fieldsConnected{
    width: 95%;
}
#tablesSelec span.label{
    display: inline-block;
    width: 60%;
}
#tablesSelec label{
    display: inline;
}
#tablesSelec .chkDisplay{
    margin-right: 10px;
}
#tablesSelec span.showFilters{
    margin-left: 2px;
    vertical-align: top;
}
.moduleTitle{
    border: 1px solid #CAF4F7;
    line-height: 18px;
    margin: 0 0 2px;
    padding: 5px;
}
.moduleTitle.closed{
    background: transparent url('../images/treeview-open.gif') no-repeat 95% 50%;
}
.moduleTitle.opened{
    background: transparent url('../images/treeview-close.gif') no-repeat 95% 50%;
}
span.cancel{
    background: transparent url('../../../icons/button_cancel_16x16.png') no-repeat 90% 50%;
    margin-right: 2px;
    padding: 0 7px;
}
.hidden{
    display: none;
}