/*
    Document   : stentors
    Created on : 6 févr. 2012, 21:27:53
    Author     : ssoares
    Description:
        Purpose of the stylesheet follows.
*/
form {
    text-align: left;
}

.radioInline label {
    float: left;
    width: auto;
}
.radioInline label:first-child,
.radioInline label:last-child{
    float: none;
}

.field_required{
    color: #E4202C;
    font-size: 14px;
    font-weight: bold;
}
#fieldset-genericForm{
    min-height: 427px;
}
#fieldset-genericForm,
#fieldset-parentForm,
fieldset.infosFieldsetParent,
fieldset.infosFieldset{
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
fieldset.infosFieldset dd input[type="checkbox"]{
    vertical-align: bottom;
}
#fieldset-genericForm legend,
#fieldset-parentForm legend,
fieldset.infosFieldsetParent legend,
fieldset.infosFieldset legend{
    margin-left: 0;
}
#fieldset-identity dt, #fieldset-identity dd{
    width: 40%;
}

#fieldset-identity dd.schoolYear input{
    text-align: center;
}
#fieldset-identity dd.schoolYear,
#fieldset-identity dd.left{
    float: left;
    width: 25%;
}
#fieldset-passport{
    margin-bottom: 15px;
}
#fieldset-passport dt{
    width: 30%;
}
#fieldset-passport dt label{
    width: auto;
}
#fieldset-assu dd,
#fieldset-travel dd,
#fieldset-emergency dd,
#fieldset-passport dd{
    float: left;
    width: 30%;
}
#fieldset-travel dd.label_after_checkbox{
    clear: both;
}
#fieldset-allergy dd label{
    width: 30%;
}
#fieldset-diseases dd label,
#fieldset-allergy dd.allergyList label{
    width: 20%;
    float: left;
}
#fieldset-diseases dd label:first-child,
#fieldset-allergy dd.allergyList label:first-child{
    width: 100%;
}

.clearBoth{
    clear: both;
}
.clearLeft{
    clear: left;
}

#fieldset-genericForm,
#fieldset-parentForm,
fieldset.infosFieldsetParent{
    width: 45%;
    float: left;
    margin-right: 10px;
}
#fieldset-parentForm{
    float: left;
}

fieldset.infosFieldsetParent textarea.mediumEditor{
    width: 98%;
}

#default_form #action_panel ul.buttons li#backToMember{
    display: inline;
    float: right;
}
#default_form #action_panel ul.buttons li#backToMember a.action_submit{
    background: url("../../../icons/button_back.png") no-repeat scroll 5px 50% transparent;
}

#container a.addParents{
    padding-left: 20px;
}
#container a.addParents img{
    width: 1.264285714em;
    height: 1.264285714em;
    margin-right: 5px;
    vertical-align: top;
}
.ui-button .ui-button-text{
    line-height: 0.9em !important;
}

.allergy dd input.multicheckbox{
    display: inline-block;
    width: auto;
}