/* 
    Document   : banners
    Created on : 2011-06-30, 23:06:13
    Author     : ssoares
    Description:
        Style for the images displayed in the banners module.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#blockBannerImageFeatured{ 
    padding: 0px;
    width: 460px;
}
.blockImages{
    background-color: #fff;
    padding: 0 0 0 5px;
}

.imgContainer{
    /*background: transparent url('../images/common/bgImgFeaturedBanner.jpg') no-repeat 0 0;*/
    display: inline-block;
    /*height: 200px;*/
    margin-top: 3px;
    padding: 0;
    vertical-align: top;
    width: 108px;
}

div#blockBannerImageFeatured p.title{
    background-color:  #65a3c2;    
}

div#blockBannerImageFeatured p.text1{
    background-color:  #65a444;
}

div#blockBannerImageFeatured p.image{
    height: 140px;
    width: 108px;
}

div#blockBannerImageFeatured p.text2{
   /* display: none;*/
    position: absolute;    
    top:0px;
    color: #000000;
}

div#blockBannerImageFeatured p.text2 a,
div#blockBannerImageFeatured p.text2 a:hover{
    color: #000000;
}

div#blockBannerImageFeatured img{
    height: 140px;
    width: 108px;
}

.containerBgHeader_sliding{
    overflow: hidden;
}

div.bannerImageAbsoluteFloat{
    float:left;
    width: 830px;
    height: 271px;
}

div.masterControl_paginator.whiteArrow a.activeSlide{

    background: transparent url('../images/common/banner_next_white.png') no-repeat;
    padding: 0 6px;
    text-indent: -10000px;
}

div#bannerContainer{
    height: 275px;
    overflow: hidden;
    margin-bottom: 5px;
}

.hiddenVideo{
    display: none;
}