/* Version SVN: $Id: header.css 826 2012-02-01 04:15:13Z ssoares $*/

/***************************************/
/* HEADER CLASSES */
div#headerContainer    {    
    overflow: hidden;
    width: 100%;
}

div#headerContainer div#headerLeft    {
    float: left;
    width: 50%;    
}

div#headerContainer div#headerRight    {
    width: 50%;
    float: left;
}

div#headerContainer div#headerRight ul li{
    display: inline;
}
div#headerContainer div#headerRightTop,
div#headerContainer div#headerSearchLanguages   {
    width: 100%;
}

div#headerSearchLanguages ul{
    float: right;
}
/* HEADER CLASSES */
/***************************************/

/***************************************/
/* TOOLS BOX CLASSES */

/* TOOLS BOX CLASSES */
/***************************************/

/***************************************/
/* LANGUAGES SWITCHER MENU CLASSES */

/* LANGUAGES SWITCHER MENU CLASSES */
/***************************************/
