RewriteEngine On

RewriteCond %{REQUEST_FILENAME} ^.*/[a-zA-Z]+-[0-9]+-[0-9]+-[0-9]+.jpg
RewriteRule ^.*/([^/]+).jpg http://%{SERVER_NAME}/ss/edith/www/newsletter/index/log-access/params/$1/ [NC,L]


RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]


#php_value default_charset 'UTF-8'

AddType audio/ogg .oga
AddType video/ogg .ogv
AddType video/ogg .ogg
AddType video/mp4 .mp4
AddType video/webm .webm
AddType video/3gpp .3gp